[global]
   workgroup = WORKGROUP
   log file = /var/log/samba/log.%m
   max log size = 100000
   logging = file
   panic action = /usr/share/samba/panic-action %d
   server role = standalone server
   obey pam restrictions = yes
   unix password sync = yes
   passwd program = /usr/bin/passwd %u
   passwd chat = *Enter\snew\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\supdated\ssuccessfully* .
   pam password change = yes
   map to guest = bad user
   usershare allow guests = yes
[share]
   comment = cassys private access
   path = /share
   browseable = yes
   public = no
   writable = yes
   guest ok = no
   guest only = no
   create mode = 0777
   directory mode = 0777
   dos filetimes = yes
   dos filetime resolution = yes
   valid users = {{smb.user}}
   force user = {{smb.user}}
   nt acl support = no
   unix extensions = no